.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(11, 26, 57, 0.95);
  backdrop-filter: blur(10px);
  z-index: 1000;
  transition: all 0.3s ease, transform 0.4s ease;
  padding: 1.5rem 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 1;
}

.nav-logo {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-logo a.nav-link {
  display: flex;
  align-items: center;
  line-height: 0;
  padding: 0;
  margin: 0;
}

.nav-logo img {
  height: 40px;
  width: auto;
  filter: brightness(0) saturate(100%) invert(100%);
  transition: filter 0.3s ease;
  transform: translateY(0px);
}

.nav-logo:hover img {
  filter: brightness(0) saturate(100%) invert(100%)
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}

.nav-logo:hover::after {
  content: "Instagram";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  white-space: nowrap;
  z-index: 1001;
  margin-top: 0.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.nav-logo:hover::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-bottom-color: var(--primary-color);
  margin-top: 0.2rem;
  z-index: 1001;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-family: "Funnel Display", sans-serif;
  font-size: 0.8rem;
  transition: color 0.3s ease;
  position: relative;
}

.nav-link:hover {
  color: var(--primary-color);
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: 0.3s;
}
